.page__wrapper{
    background-color:#141414;
}
.section-title{
background-image: url(./images/Image\(19\).png);
height: 281px;
display: flex;
align-items: end;

}
.section-title_text{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 150%; 
letter-spacing: -0.84px;
}

.stats{
    display: flex;
padding: 20px;
justify-content: center;
align-items: center;
gap: 14px;
align-self: stretch;
border-top: 1px solid  #262626;

}
.stats__item{
    display: flex;
padding: 8px 14px;
justify-content: center;
align-items: center;
gap: 4px;
border-radius: 100px;
border: 1px solid  #262626;
background:  #141414;
}
.stats__value{
    color:  #98989A;
font-family: "Kumbh Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
letter-spacing: -0.42px;
}
.card__button-icon{
    width: 26px;
   height: 26px;
}
.meta{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 20px;
align-self: stretch;
border-top: 1px solid #262626;
}
.meta_cont{
    display: flex;
align-items: flex-start;
gap: 20px;
align-self: stretch;
}
.meta__text{display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    flex: 1 0 0;}
    .meta__title{
        color: #98989A;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
letter-spacing: -0.42px;
    }
    .meta__value{
    color: #FFF;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 150%; 
letter-spacing: -0.42px;
    }
    .content{
        display: flex;
padding: 40px 24px;
flex-direction: column;
align-items: flex-start;
gap: 30px;
align-self: stretch;
    }
    .toc__title{
        color:  #98989A;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
letter-spacing: -0.48px;
    }
    .toc__items{
        width: 306px;
        display: flex;
padding: 18px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
align-self: stretch;
border-radius: 10px;
background: #1A1A1A;
    }
    .toc__item{
        color:  #FFF;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
letter-spacing: -0.42px;
    }
    .section--intro{
        display: flex;
padding: 40px 24px;
flex-direction: column;
align-items: flex-start;
gap: 6px;
align-self: stretch;
border-top: 1px solid  #262626;
border-bottom: 1px solid #262626;

    }
    .section__title{
        color: #FFF;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 150%; 
letter-spacing: -0.54px;
    } 
    .section__text{
        color:  #98989A;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
letter-spacing: -0.42px;
    }
    .section--ai{
       display: flex;
padding: 40px 24px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
align-self: stretch;
    }
    .button--read-full{
        display: flex;
padding: 14px 20px;
align-items: center;
gap: 4px;
border-radius: 8px;
border: 1px solid  #262626;
background: #141414;
flex-shrink: 1;
flex-grow: 0;
    }
   
    .button__container{
       display: flex;
       justify-content: center;
       align-items: center;
       height: 215px;
       width: 342px;
       flex-direction: column;
       background: linear-gradient(180deg, rgba(20, 20, 20, 0.00) -19.6%, #141414 62.86%);
       position: absolute;
       top: 1660px;
       bottom: 0;
    }
    .section__elems{
        display: flex;
        flex-direction: column-reverse;
    }
    .related{
        display: flex;
padding-top: 40px;
flex-direction: column;
align-items: flex-end;
align-self: stretch;
border-top: 1px solid #262626;
    }
    .related__header{
        display: flex;
padding: 0px 16px;
align-items: center;
gap: 80px;
align-self: stretch;
    }
    .related__title{
        color:  #CCC;
font-family: "Kumbh Sans";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 130%;
letter-spacing: -0.6px;
    }
    .button--view-all{
        display: flex;
padding: 14px 20px;
align-items: center;
gap: 4px;
border-radius: 8px;
border: 1px solid  #262626;
background:  #141414;
    }
    .button__text{
        color:  #98989A;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
letter-spacing: -0.42px;
white-space: nowrap;
    }
    .related__list{
        display: flex;
padding: 40px 16px;
flex-direction: column;
align-items: flex-start;
gap: 30px;
align-self: stretch;
    }
    .news-card{
        display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 16px;
align-self: stretch;
    }
    
    .news-card__body{
        display: flex;
flex-direction: column;
align-items: flex-start;
gap: 10px;
align-self: stretch;
    }
    .news-card__info{
        display: flex;
flex-direction: column;
align-items: flex-start;
gap: 4px;
align-self: stretch;
    }
    .news-card__title{
        color:  #FFF;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 150%; 
letter-spacing: -0.48px;
    }
    .news-card__category{
        color:  #98989A;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
letter-spacing: -0.42px;
    }
    .news-card__stats{
        display: flex;
align-items: center;
gap: 50px;
align-self: stretch;
    }
    .news-card__stat{
        display: flex;
padding: 6px 14px;
justify-content: center;
align-items: center;
gap: 4px;
border-radius: 100px;
border: 1px solid #262626;
background: #1A1A1A;
    }
    .news-card__buttons{
        display: flex;
align-items: flex-start;
gap: 8px;
    }
    .button--read-more{
        display: flex;
padding: 14px 20px;
justify-content: center;
align-items: center;
gap: 4px;
flex: 1 0 0;
border-radius: 8px;
border: 1px solid #262626;
background: #141414;
    }
    .news-card__image{
        height: 185px;
align-self: stretch;
border-radius: 10px;

    }
    @media (width: 1440px) {
        .page__wrapper{
            width: 1440px;
        }
        .section-title{
            background: url(./images/Image\(51\).png);
            height: 430px;
        }
        .section-title_text{
            font-size: 44px;
            margin-left: 261px;
        }
        .section__elems{
            display: flex;
            flex-direction: row;
          
        }
        .container{
            display: flex;
            flex-direction: column-reverse;
        }
        .section--intro{
            padding: 60px 60px 60px 80px;
            gap: 6px;
        }
        .section--ai{
            padding: 60px 60px 60px 80px;
            gap: 24px;
        }
        .container{
  border-left: 1px solid  #262626;
        }
        .section--elems{
            max-width: 1000px;
          
        }
        .section__info{
            
        }
        .button__container{
            background: linear-gradient(180deg, rgba(20, 20, 20, 0.00) -19.6%, #141414 62.86%);
            top: 900px;
            left: px;
            width: 870px;
        }
        .related__list{
            padding: 60px 80px;
            gap: 30px;
            flex-direction: row;
            height: 318px;
        }
        .related__header{
            gap: 1000px;
            padding-left: 80px;
        }
    }